@font-face {
  font-family: Bodoni;
  src: url("./assets/BodoniFLF-Roman.woff");
}
@font-face {
  font-family: Bodoni-Bold;
  src: url("./assets/BodoniFLF-Bold.woff");
}

body {
  margin: 0;
  font-family: Bodoni;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

