@font-face {
  font-family: Bodoni;
  src: url("./assets/fonts/BodoniflfRoman-vmAD.ttf") format('opentype');
  font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: Bodoni-Bold;
  src: url("./assets/fonts/BodoniflfBold-MVZx.ttf") format('opentype');
  font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: Amalfi;
  src: url("./assets/fonts/AmalfiCoast.ttf") format('opentype');
  /* font-weight: normal;
  font-style: normal; */
}

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}



html { 
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-stroke: 0.15pt;
}
body {
  margin: 0;
  font-family: Bodoni;
  position: relative;
  /* background-image: url("./assets/images/bg-pattern.png"); */

}

body::before {
  position: fixed;
  content: '';
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/images/bg-pattern.png");
  opacity: .8;
  z-index: -1;
}



::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  /* // background-color: rgba(255, 255, 255, 0.705);
  // background-color: rgba(209, 145, 25, .75); */
  background-color: #455e58;
  border-radius: 5px;
  /* // border: 1px solid transparent; */
  border-right: 1px solid transparent;
  background-clip: content-box;
}