@font-face {
  font-family: Bodoni;
  src: url("./assets/fonts/BodoniflfRoman-vmAD.ttf") format('woff');
  font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: Bodoni-Bold;
  src: url("./assets/fonts/BodoniflfBold-MVZx.ttf") format('woff');
  font-weight: normal;
font-style: normal;
}

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}



html { 
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-stroke: 0.15pt;
}
body {
  margin: 0;
  font-family: Bodoni;
  background-image: url("./assets/images/bg-pattern.png");

}

